name: Add to Project

on:
  issues:
    types:
      - opened
      - transferred
env:
  GH_APP_ID_DISTRO_CI: ${{ secrets.GH_APP_ID_DISTRO_CI }}
  GH_APP_PRIVATE_KEY_DISTRO_CI: ${{ secrets.GH_APP_PRIVATE_KEY_DISTRO_CI }}

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub token
        uses: tibdex/github-app-token@v2
        id: generate-github-token
        with:
          app_id: ${{ env.GH_APP_ID_DISTRO_CI }}
          private_key: ${{ env.GH_APP_PRIVATE_KEY_DISTRO_CI }}
      - name: Add to project
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/camunda/projects/33
          github-token: '${{ steps.generate-github-token.outputs.token }}'