name: "Test docker-compose-web-modeler.yaml"
on:
  push:
    branches:
      - "**"

jobs:
  test_modeler_yaml:
    strategy:
      matrix:
        include:
          - compose_args: "-f docker-compose.yaml -f docker-compose-web-modeler.yaml"
            run_e2e_tests: true
            directory: ""
          - compose_args: ""
            run_e2e_tests: true
            run_single_test: "web_modeler_login.spec.ts"
            directory: "docker-compose/camunda-8.6"
    uses: ./.github/workflows/template-deploy.yaml
    name: Test deploying from directory "${{ matrix.directory || 'root' }}"
    secrets: inherit
    with:
      compose_args: ${{ matrix.compose_args }}
      run_e2e_tests: ${{ matrix.run_e2e_tests }}
      directory: ${{ matrix.directory }}
      run_single_test: ${{ matrix.run_single_test }}
