name: "Test docker-compose-web-modeler.yaml with OpenSearch"
on:
  push:
    branches:
      - "**"
jobs:
  test_modeler_yaml:
    uses: ./.github/workflows/template-deploy.yaml
    secrets: inherit
    with:
      compose_args: "-f docker-compose.yaml -f docker-compose-web-modeler.yaml --profile opensearch"
      run_e2e_tests: true
      search_db: opensearch